@font-face{
    font-family: "Baybayin Modern Print";
    src: url("print.ttf");
}
@font-face{
    font-family: "Baybayin Modern Block";
    src: url("block.ttf");
}
body {
    font-family: Baybayin Modern Print;
    background-color: black;
}

/* NameLogo */
.logo {
    text-align: center;
}
.logo a {
    font-family: Baybayin Modern Block;
    font-size: 60px;
    text-decoration: none;
    color: #ff6a00;
    transition-duration: 1s;
}
.logo a:hover {
    font-size: 60px;
    text-decoration: none;
    color: whitesmoke;
}

/* NavBar */
.nav {
    width: 100%;
    height: 50px;
    background-color: #ff6a00;
    border-radius: 10px;
}
.nav ul {
    width: auto;
    float: left;
    margin-top: 1px;
}
.nav ul li {
    display: inline-block;
    padding: 15px 30px;
}
.nav ul li a {
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
    font-size: 100%;
}
.nav ul li a:hover {
    color: black;
    transition: 1s;
}

/* Paragraphs */
h1 {
    text-decoration: underline;
    color: #ff6a00;
}
h2, h3, h4, h6, p {
    color: #ff6a00;
}
p a {
    text-decoration: underline;
    color: #ff6a00;
}
p a:hover {
    color: whitesmoke;
    transition: 1s;
}

/* Copyright */
h5 {
    color: #ff6a00;
    text-align: center;
}
h5 .atag {
    color: #ff6a00;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
}


/* IMG */
.img {
    height: 60%;
    width: 60%;
    border-radius: 30px;
}
.img:hover {
    opacity: 0.5;
    transition: 1s;
}

/* Selected */
::selection {
    background-color: #ff6a00;
    color: whitesmoke;
}

/* Scroll bar */
/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: black; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ff6a00; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: whitesmoke; 
}

/* RPS */
@media screen and (max-width: 800px) {
    
    .logo {
        text-align: center;
    }
    .logo a {
        font-family: Baybayin Modern Block;
        font-size: 60px;
        text-decoration: none;
        color: #ff6a00;
        transition-duration: 1s;
    }
    .logo a:hover {
        font-size: 60px;
        text-decoration: none;
        color: whitesmoke;
    }
    .nav {
        width: 100%;
        height: 50px;
        background-color: #ff6a00;
        border-radius: 10px;
    }
    .nav ul {
        width: auto;
        float: left;
        margin-top: 1px;
    }
    .nav ul li {
        display: inline-block;
        padding: 15px 15px;
    }
    .nav ul li a {
        text-align: center;
        color: whitesmoke;
        text-decoration: none;
        font-size: 80%;
    }
    .nav ul li a:hover {
        text-align: center;
        color: black;
        transition: 1s;
    }
}